.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #d4af37;
}

@media (max-width: 900px) {
    .hero h1 {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 32px;
    }
}
