.hero p {
    color: #ccc;
    font-size: 20px;
    margin-bottom: 30px;
}

.posts {
    width: 100%;
    padding: 30px 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.post-card {
    background: #181818;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
    border: 1px solid transparent;
}

.post-card:hover {
    transform: translateY(-10px);
    border-color: #d4af37;
    box-shadow: 0 0 25px rgba(212, 175, 55, 0.4);
}

.post-card:not(:last-child) {
    margin-bottom: 40px;
}

.post-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.post-content {
    padding: 25px;
}

.post-content h2,
.content__link {
    color: #d4af37;
    margin-bottom: 15px;
    text-decoration: none;
}

.content__link:hover {
    color: #886c0f;
}

.post-content p {
    color: #bbb;
    line-height: 1.8;
    margin-bottom: 20px;
}

.post-content span,
.content__author-link {
    color: #808080;
    font-size: 16px;
}

.content__author-link {
    transition: all 0.25s linear;
}

.content__author-link:hover {
    color: #c0c0c0;
    font-size: 20px;
}


@media (max-width: 900px) {
    .hero h1 {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 32px;
    }

    .hero h2 {
        font-size: 16px;
    }

    .posts {
        padding: 30px 5%;
    }

    .post-content {
        padding: 16px;
    }

    .post-card h2{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .post-card p {
        font-size: 14px;
    }
}
