{% load static %}
<header class="header">
    
    <!-- Mobile Header -->
    <nav class="header-nav">
        <div class="nav-menu-mobile-btn">
            <span class="menu-btn__line"></span>
        </div>
        <a href="#" class="nav-logo">
            <img src="{% static 'icons/favicon/logo-32x32.png' %}" alt="site logo" class="nav-logo__img">
            <span class="nav-logo__description">بلاگ</span>
        </a>
        <div class="div nav-search">
            <img class="search__img" src="{% static 'icons/ui/search.svg' %}" alt="search">
        </div>
    </nav>
    <!-- End Mobile Header -->
    
    <!-- Desktop Header -->
    <div class="header-search">
        <img class="search__img" src="{% static 'icons/ui/search.svg' %}" alt="search">
        <!-- This line to place Django Form -->
    </div>
    {% if user.is_authenticated %}
        <div class="div header-profile">
            <img class="profile__img profile__img--desktop-header" src="{{ user.get_avatar_url }}" alt="profile picture">
            <span class="profile__text">{{ user.first_name }} {{ user.last_name }}</span>
        </div>
    {% endif %}
</header>
<!-- End Desktop Header -->