{% load static %}
{% if messages %}
	{% for msg in messages %}
        <div class="msg-wrapper">
            {% if msg.tags == "success" %}
		        <p class="msg msg--{{ msg.tags }}">
                    <img src="{% static 'icons/success.svg' %}" alt="success icon">
                    <span>{{ msg }}</span>
                    <span class="msg__progress msg__progress--{{ msg.tags }}"></span>
                </p>
            {% elif msg.tags == "warning" %}
                <p class="msg msg--{{ msg.tags }}">
                    <img src="{% static 'icons/warning.svg' %}" alt="success icon">
                    <span>{{ msg }}</span>
                    <span class="msg__progress msg__progress--{{ msg.tags }}"></span>
                </p>
            {% endif %}
        </div>
	{% endfor %}
    <script src="{% static 'js/messages.js' %}"></script>
{% endif %} 