.msg-wrapper {
    margin: 10px 10px 0;
    max-width: 450px;
}

.msg {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    width: 100%;
    border: 2px solid;
    transition: transform 0.5s ease, opacity 0.5s ease;
    gap: 5px;
    margin-bottom: 10px;
}

.msg--success {
    background-color: #051B11;
    color: #75b798;
    border-color: #0f5132;
}

.msg--warning {
    background-color: #332701;
    color: #ffda6a;
    border-color: #997404;
}

.msg__progress {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    animation: progress 5s linear forwards;
    border-radius: 0 0 3px 3px;
}

.msg__progress--success {
    background-color: #198754;
}

.msg__progress--warning {
    background-color: #997404;
}

.msg--hide {
    transform: translateX(120%);
    opacity: 0;
}

@keyframes progress {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}
