{% extends "base/base.html" %}
{% load static %}


{% block title %}{{ block.super }}ورود{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/auth_base.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}


{% block content %}

    <div class="container">
        <div class="auth-box">
            <h1>خوش برگشتی</h1>
            <p>وارد حساب کاربری خود شوید</p>

            {% include 'accounts/forms.html' %}

            <div class="bottom-text">
                حساب ندارید؟
                <a href="{% url 'accounts:user_register' %}">ثبت نام</a>
            </div>

        </div>
    </div>

{% endblock %}