{% extends "base/base.html" %}
{% load static %}

{% block title %}{{ block.super }}ثبت ن{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/auth_base.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
{% endblock %}


{% block content %}

    <div class="container">
        <div class="auth-box">
            <h1>ایجاد حساب</h1>
            <p>به دنیای GoldBlog خوش آمدید</p>

            {% include 'accounts/forms.html' %}

            <div class="bottom-text">
                حساب دارید؟
                <a href="{% url 'accounts:user_login' %}">ورود</a>
            </div>

        </div>
    </div>


{% endblock %}