{% extends "base/main_base.html" %}
{% load static %}

{% block title %}GoldBlog{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blog/css/detail.css' %}">
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="post-page">
        <img src="{{ blog.cover.url }}" class="post-page__img" alt="blog picture">
        <div class="post-body">
            <h1>{{ blog.title }}</h1>
            <div class="post-content">
                <p>{{ blog.body|linebreaks }}</p>
            </div>
            <div class="post__info">
                <a href="{{ blog.author.get_absolute_url }}" class="post__author">✍ {{ blog.author.username }}</a>
                <div class="post-vote">
                    <div class="vote__wrapper">
                        <span>{{ like_count }}</span>
                        <form action="{% url 'blog:blog_like' blog.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="vote__btn">
                                <svg width="50px" height="50px" viewBox="0 0 24.00 24.00" {% if user_vote %}{% if user_vote.type == "L" %}fill="#fff"{% endif %}{% endif %} xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.144"></g>
                                    <g id="SVGRepo_iconCarrier"> 
                                        <path d="M8 10V20M8 10L4 9.99998V20L8 20M8 10L13.1956 3.93847C13.6886 3.3633 14.4642 3.11604 15.1992 3.29977L15.2467 3.31166C16.5885 3.64711 17.1929 5.21057 16.4258 6.36135L14 9.99998H18.5604C19.8225 9.99998 20.7691 11.1546 20.5216 12.3922L19.3216 18.3922C19.1346 19.3271 18.3138 20 17.3604 20L8 20" stroke="#fff" stroke-width="0.8399999999999999" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                            </button>
                        </form>
                    </div>
                    <div class="vote__wrapper">
                        <span>{{ dislike_count }}</span>
                        <form action="{% url 'blog:blog_dislike' blog.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="vote__btn">
                                <svg width="50px" height="50px" viewBox="0 0 24.00 24.00" {% if user_vote %}{% if user_vote.type == "D" %}fill="#fff"{% endif %}{% endif %} xmlns="http://www.w3.org/2000/svg" class="vote__dislike">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.144"></g>
                                    <g id="SVGRepo_iconCarrier"> 
                                        <path d="M8 10V20M8 10L4 9.99998V20L8 20M8 10L13.1956 3.93847C13.6886 3.3633 14.4642 3.11604 15.1992 3.29977L15.2467 3.31166C16.5885 3.64711 17.1929 5.21057 16.4258 6.36135L14 9.99998H18.5604C19.8225 9.99998 20.7691 11.1546 20.5216 12.3922L19.3216 18.3922C19.1346 19.3271 18.3138 20 17.3604 20L8 20" stroke="#fff" stroke-width="0.8399999999999999" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                            </button>
                        </form>
                    </dive>
                </div>
            </div>
        </div>
        <div class="comments">
            <h2>کامنت ها</h2>
            <div class="comment-box">
                <input type="text" placeholder="نظر خود را وارد کنید">
                <a href="#" class="comment__submit">ارسال</a>
                <div class="commentList"></div>
            </div>
        </div>
    </div>
{% endblock %}