{% extends "base/base.html" %}
{% load static %}


{% block title %}{{ block.super }}ورود{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'account/css/auth_base.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}


{% block content %}

    <div class="container">
        <div class="auth-box">
            <h1>خوش برگشتی</h1>
            <p>وارد حساب کاربری خود شوید</p>

            <form>
                <div class="input-group">
                    <label>ایمیل</label>
                    <input id="loginEmail" type="email" placeholder="ایمیل خود را وارد کنید">
                </div>
                <div class="input-group">
                    <label>رمز عبور</label>
                    <input id="loginPassword" type="password" placeholder="رمز عبور">
                </div>
                <button type="submit">ورود</button>
            </form>

            <div class="bottom-text">
                حساب ندارید؟
                <a href="{% url 'account:user_register' %}">ثبت نام</a>
            </div>

        </div>
    </div>

{% endblock %}