{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'account/css/auth/auth_base.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/auth/fonts.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <section class="right-auth"></section>
        <section class="left-auth">
            <a href="{% url 'post:home' %}" class="logo-wrapper logo-wrapper--auth">
                <img src="{% static 'icons/favicon/logo-48x48.png' %}" alt="site logo" class="left-auth__logo">
                <span class="logo-wrapper__text left-auth__text">بلاگیفای</span>
            </a>
            <h2 class="left-auth__title">به بلگیفایل بپیوندید</h2>
            <p class="left-auth__description">ایده هایتان را با دنیا به اشتراک بگذارید</p>
            <div class="left-auth-content"></div>
            <p class="left-auth__btn">
                قبلا ثبت نام کرده اید؟
                <a href="{% url "account:user_login" %}" class="left-auth__link">ورود</a>
            </p>
        </section>
    </div>
{% endblock %}