{% extends "base/base.html" %}
{% load static %}

{% block title %}{{ block.super }}ثبت ن{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'account/css/auth_base.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/register.css' %}">
{% endblock %}


{% block content %}

    <div class="container">
        <div class="auth-box">
            <h1>ایجاد حساب</h1>
            <p>به دنیای GoldBlog خوش آمدید</p>

            <form>
                <div class="input-group">
                    <label>نام کاربری</label>
                    <input id="username" type="text" placeholder="نام کاربری">
                </div>
                <div class="input-group">
                    <label>ایمیل</label>
                    <input id="email" type="email" placeholder="ایمیل">
                </div>
                <div class="input-group">
                    <label>رمز عبور</label>
                    <input id="password" type="password" placeholder="رمز عبور">
                </div>

                <button type="submit">ثبت نام</button>

            </form>

            <div class="bottom-text">
                حساب دارید؟
                <a href="{% url 'account:user_login' %}">ورود</a>
            </div>

        </div>
    </div>


{% endblock %}